
@media (max-width: 768px) {
    .mobile-hidden{
        display: none;
    }
    .page-main-container {
        width: 100%;
    }
    .mt-5 {
        border-radius: 5px;
        border: 2px solid var(--border-color);
        box-shadow: var(--card-border-shadow);
        background-color: var(--colorBgContainer);
    }
}
@font-face {
    font-family: 'ZFont';
    src: url("https://gcore.jsdelivr.net/gh/cayzlh/psychic-potato@master/font/zfont/ZFonts.woff2");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@media (min-width: 768px) {
    .pc-hidden{
        display: none;
    }
    .page-main-container {
        width: 60%;
        margin-left: 20%;
    }
    *{
        font-size: 20px
    }
    .mt-5 {
        border: 2px solid var(--border-color);
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: var(--card-border-shadow);
        background-color: var(--colorBgContainer);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZFont', sans-serif;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.link{
    cursor: url(../../public/new-tab.png),pointer;
    text-decoration: none;
    background: linear-gradient(to right, #2ee3bf, #23ada2) no-repeat right bottom;
    background-size:0% 1px;
    transition: background-size 500ms;
    color: var(--link-color) ;
}
.link:hover{
    background: linear-gradient(to right, #2ee3bf, #23ada2) no-repeat left bottom;
    background-size:100% 1px;
}
.line {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--dash-border-color);
}

.dynamic-line{
    height: 2px;
    width:10%;
    background: var(--dynamic-color);
    background-size: 40% 2px;
    transition: background-size 500ms;
}
.vertical-line{
    width: 2px;
    height: 100%;
    background: var(--dynamic-color);
}
.mt-5 {
    animation: slideInFromBottom1 0.4s ease-in-out;
    padding:10px
}
.mt-5:hover .dynamic-line {
    background-size: 100% 2px;
}

@keyframes slideInFromBottom1 {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInFromBottom {
    from {
        transform: translateY(80%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes blogCardsSlideInFromBottom {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
