.rowFlex {
    display: flex;
    flex-direction: row;
}

.columnFlex {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
    margin-top: auto
}

.padding-10{
    padding: 10px;
}

